# Default / Catchall VHost
<VirtualHost *>
	ServerName {{ lookup('env','IIM_MACHINE_FQDN') }}
	ServerAlias transloadit.imagemagick.org

	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html/ImageMagick

	Options FollowSymLinks ExecCGI
	AddHandler cgi-script .cgi

	ErrorLog ${APACHE_LOG_DIR}/default-error.log
	CustomLog ${APACHE_LOG_DIR}/default-access.log combined

	<Directory /var/www/html>
		Options +FollowSymLinks +MultiViews +ExecCGI
		AllowOverride None
		Order allow,deny
		allow from all
		AddHandler cgi-script .cgi
	</Directory>
</VirtualHost>

# Mirror VHost
<VirtualHost *>
	ServerName {{ lookup('env','IIM_APP_FQDN') }}

	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html/ImageMagick

	Options Indexes FollowSymLinks

	ErrorLog ${APACHE_LOG_DIR}/mirror-error.log
	CustomLog ${APACHE_LOG_DIR}/mirror-access.log combined

	<Directory /var/www/html/ImageMagick>
		Options +Indexes +FollowSymLinks +MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>
</VirtualHost>
